/* CUSTOM CSS */

/* Note: An easy way to override boostrap is to check each element's weighting. By adding id="bootstrap-override" (ID = 100 points) to
the body element, I can grab any element to style because my CSS elements will always have more weighting than Bootstrap's.
 */

/*#bootstrap-override h1 {*/
    /*color: black;*/
/*}*/

#bootstrap-override #catInput{
    background-image: url('/img/searchicon.png'); /*Search icon*/
    background-position: 10px 12px; /* Position icon */
    background-repeat: no-repeat; /* Don't repeat icon */
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; /* Add gray border */
    margin-bottom: 12px; /*Add space below  input */
}

#bootstrap-override #worksTable{
    width: 100%;
}